<div class="slider-middle">

    <div class="slide">
        <img src="/Static/Images/london.jpg" alt="1" />
    </div>
    <div class="slide">
        <img src="/Static/Images/ny.jpg" alt="2" />
    </div>
    <div class="slide">
        <img src="/Static/Images/spb.jpg" alt="3" />
    </div>
</div>
<div
    style="text-align:center;">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
<script src="/Static/JS/Slider.js"></script>

